@import '../../../styles/colors';
.slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40rem;
    color: $light-grey;
    background-color: #000;
    position: relative;

    .slide {
        position: relative;
        display: flex;
        height: 40rem;

        &-bg {
            position: relative;
            display: flex;
            flex: 1 1 auto;

            &::after {
                position: absolute;
                inset: 0;
                display: block;
                content: '';
                background: rgb(0, 0, 0);
                background: linear-gradient(
                    90deg,
                    rgba(0, 0, 0, 0.8015581232492998) 60%,
                    rgba(255, 255, 255, 0) 100%
                );
            }

            &-img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &-pane {
            position: absolute;
            top: 200px;
            left: 200px;
            width: 45%;
            top: 5rem;
            left: 5rem;

            .movie-name {
                font-size: 2.8rem;
            }

            .meta {
                font-size: 1.4rem;
                color: $light-grey;

                .info {
                    display: flex;
                    align-items: center;
                    .description {
                        font-size: 1.2rem;
                        line-height: 1.7;
                    }
                }
                .rating {
                    > span:not(:last-child)::after {
                        content: '|';
                        margin-right: 9px;
                        margin-left: 9px;
                    }
                    .app-icon {
                        color: gold;
                        margin-right: 5px;
                    }

                    &-value {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}
